body {
    font-family: "Roboto", sans-serif;
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

form {
    width: 30rem;
    margin: 0 auto;
    background-color: rgb(254, 249, 255);
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 0.75rem;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    width: 30rem;
    display: block;
    padding: 0.2rem;
    font: inherit;
    box-sizing: border-box;
    font-size: 0.8rem;
    margin: 0.25rem 0;
}

#how-did-you-find-us {
    display: inline-block;
    margin-top: 1rem;

}

input:focus,
textarea:focus {
    background-color: rgba(253, 202, 0, 0.16);
}

textarea {
    resize: vertical;
}

.form-control-inline {
    display: flex;
    align-items: center;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;

}

.terms-section {
    margin-top: 1rem;
}

.btn-group {
    text-align: right;
    margin-top: 1rem;
}
button {
    margin-left: 0.1rem;
    padding: 0.4rem 1rem;
    background-color: rgb(254, 249, 255);
    color: rgb(40, 21, 73);
    border: 1px solid rgb(29, 1, 56);
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
}

button:hover,
#submit:hover {
    background-color: rgb(253, 202, 0);
    color: rgb(40, 21, 73);
}

#submit {
    color: rgb(246, 240, 255);
    background-color: rgb(40, 21, 73);
}


